In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([1,2,3,4,5])
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
data.values

array([1, 2, 3, 4, 5], dtype=int64)

In [4]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
data = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

In [6]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
data["c"]

3

In [8]:
series_1 = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))

In [9]:
series_2 = pd.Series(dict(a=11, b=12, c=13, d=14, e=15))

In [10]:
df = pd.DataFrame({'column_1':series_1, 'column_2':series_2})

In [11]:
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [12]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
df.columns

Index(['column_1', 'column_2'], dtype='object')

In [14]:
df['column_1']

a    1
b    2
c    3
d    4
e    5
Name: column_1, dtype: int64

In [16]:
df['column_1']['a']

1

In [18]:
df['column_2']["c"]

13